html,

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

#AboutMe {
    top: 0;
    background: #e0ebe8;
    min-height: 50vh;
    padding-top: 40vh;
    color:#f442b6;
    font-size: 20px;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #61D9ED;
}

nav ul li {
  display: inline-block;
  margin: 60px;
  /* margin definit la largeur entre les mots */
  margin-bottom: 25px;
  margin-top: 25px;
}

nav ul li a {
  color: #101AB1;
}

nav ul li a:hover {
  color: rgb(6, 1, 51);
}

#homework {
    color : rgb(112, 3, 122);
    background: #ead9ec;
    min-height: 50vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 35px;
    text-decoration: none;
    display: center;
    overflow: hidden;
    flex-direction: row;
}

#hw {
    columns : 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    LINE-HEIGHT:150px;
}

#contact {
    color : rgb(0, 83, 44);
    background: #d9f7ea;
    min-height: 25vh;
    padding-top: 20vh;
    font-size: 25px;
}